<!DOCTYPE html>
<html lang="en">
 
<head>
    <title>Test</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">
    <link  rel="stylesheet" type="text/css" href="style.css">
    <script>
        $('#button1').click(function() {
            console.log('test');
        });
        function connect() {
            $.ajax({
                url: '/connect',
                type: 'POST',
                success: function(response) {
                    console.log(response);
                },
                error: function(error) {
                    console.log(error);
                }
            });
        }
    </script>
</head>
 
<body>
    <div class="container">
        <div class="row">
            <button type="button" id="button1" class="btn btn-primary" onclick="connect()">Connect Src 1</button>
            <button type="button" class="btn btn-danger" onclick="connect()">Disconnect Src 1</button>
        </div>
        <div class="row">
            <button type="button" class="btn btn-primary" onclick="connect()">Connect Src 2</button>
            <button type="button" class="btn btn-danger" onclick="connect()">Disconnect Src 2</button>
        </div>
    </div>
</body>
 
</html>